<div class="overlay">
  <mat-dialog-content>
  
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

      <h1>Cadastrar plano</h1>
    
      <br>
      <h2>Ocupação</h2>
      <br>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome" id="nome" required [(ngModel)]="model.nome" name="nome">
      </mat-form-field>
      <br>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Valor" id="valor" required [(ngModel)]="model.valor" name="valor">
      </mat-form-field>
      <br>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Descrição" id="descricao" required [(ngModel)]="model.descricao" name="descricao">
      </mat-form-field>
 
      <br><br>
      <button mat-flat-button color="primary" type="submit" [disabled]="!userForm.form.valid">Salvar</button> 
      <button mat-flat-button color="warn" type="button" (click)="delete()">Excluir</button>
      <br><br><br>
    </form>
    
  </mat-dialog-content>
      
</div>